

/*******************************************************************************
Theme Styles
*******************************************************************************/

html {
  background: url("http://upload.wikimedia.org/wikipedia/commons/0/08/Nashville_skyline_2009.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color:#fff;
  background: #fff;
  font-size: 16px;
  font-family: 'Open Sans', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.header {
  background-color: rgba(0,0,0,.6);
  max-height: 440px;
  width: 100%;
}

.main-container {
  margin: 0;
  z-index: 100;
  width: 100%;
}










