html { 
  background: url('http://upload.wikimedia.org/wikipedia/commons/0/08/Nashville_skyline_2009.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,body { height: 100%; margin: 0px; padding: 0px; }
      #full { background: #0f0; height: 100% }

body {
    margin: 0;
}

.header {
    background-color: rgba(0,0,0,.6);
    height: 440px;
    width: 100%;
    z-index: 0;
}

.main-container {
    background-color: #fff;
    width: 100%;
    z-index: 1;
    margin: 0;
}

.content-container {
    max-width: 640px;
    margin: 0 auto;
    padding: 40px 10px;

}