.wrapper {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  background: #385268
}

.header {
  max-height: 320px;
  display: block;
}

.main-container {
  background: #fff;
  color: #ccc;
}